.login-container {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    height: 100vh;

    .login-title {
        margin-top: 148px;
        color: #fff;
    }

    .login-form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;

        .form-label {
            color: #fff;
        }
    }
}